<%= text_area_tag name, content, :style => 'display:none'%>

<div id="<%= name -%>_editor" style="<%= editor_style -%>"></div>
<script type="text/javascript">
  dojo.addOnLoad(function() {
    _editorComponent = new bespin.editor.Component("<%= name -%>_editor", {
      language: "<%= language -%>"
    });

    <% settings.each do |k, v| %>
    _editorComponent.set("<%= k -%>", "<%= v -%>");
    <% end %>

    _editorComponent.setContent(dojo.byId("<%= name -%>").value);

    _editorComponent.onchange(function() {
      dojo.byId("<%= name -%>").value = _editorComponent.getContent();
    });
  });
</script>